body{

    background-color: black;
    color: rgb(0, 0, 0);
}

.calculator {

    position: absolute;
    
    left: 24rem;
    top:70px;
    
    background-color: aliceblue;
    width: 497px;
    height: px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {

    position: absolute;
    
    left: 41rem;
    top:70px;
    font-size: 2rem;
    
}
.mybutton{

  

    background-color: black;
    color: aliceblue;


}
.buttons {

   
    position: absolute;
    
    left: 21rem;
    top:10rem;
  
    font-size: 27px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
    cursor: pointer;
};


